<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Videostreaming</title>
     <style>
          .container{
               margin: 0;
               padding: 0;
               width: 100%;
               height: 100vh;
               background-color: #FFFFFF;
               color: black;
               text-align: center;
          }
     </style>
</head>
<body class = "container">
     <h1>Contador de personas</h1>
     <div>Entrada</div><div>salida</div>
     <img src="{{ url_for('video_feed') }}">
     <div>
          <button name="stop">stop</button>
     </div>
</body>
</html>